@page "/"

<h1>Fun with Blazer App</h1>

<p>Welcome to My First Demo of Blazor App.</p>
<br />
<p>Created by  <strong>Japnam Singh</strong></p>
            <a href="mailto:info@japnam.com">info@japnam.com</a>





