@page "/counter"

<h1>Counter</h1>
<p>This is the demonstraion of onlick event without using Javascript</p>
<p>Current count: @currentCount</p>
<br />
<button class="btn btn-info" @onclick="IncrementCount">Hit me</button>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        //ConsoleColor = "blue";

    }
}
